body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to right, #f6d365, #fda085); /* Updated background */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
}

/* CSS for Header */
header {
    background: linear-gradient(to right, #4b79a1, #283e51);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: #ffffff;
    font-size: 2.5em;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    padding-right: 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fda085;
}

/* CSS for About */
.about-section {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #283e51;
}

.about-section table tr td {
    padding: 10px;
}

.about-section img {
    border-radius: 25px;
    max-width: 100%;
    transition: transform 0.3s;
}

.about-section img:hover {
    transform: scale(1.05);
}

.about-section p {
    font-size: 1.2em;
    color: #555;
    text-align: justify;
    transition: background-color 0.3s, color 0.3s;
}

.about-section p:hover {
    background-color: #fda085;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

/* Project CSS */
.project-section {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-section h2 {
    text-align: center;
    color: #283e51;
    margin-bottom: 20px;
    font-size: 1.8em;
}

#sub-project-section p {
    font-size: 1.2em;
    color: #c0392b;
    text-align: justify;
}

#sub-project-section p:hover {
    color: #e74c3c;
}
